<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CarShopMapper">

    <insert id="addCarShop">
        insert into carshop values (null, #{customerid}, #{pid}, #{numbers})
    </insert>

    <select id="getCarShops" parameterType="int" resultType="java.util.HashMap">
        select c.id, c.customerid, c.numbers,
               p.image, p.name, p.content, p.price
        from carshop c
          left join product p on c.productid = p.id
          where c.customerid = #{customerid}
    </select>

    <select id="getCarShopByIdAndPid" resultType="com.example.entity.Carshop">
        select * from carshop
        where customerid = #{customerid} and productid = #{pid}
    </select>

    <update id="updateCarShop">
        update carshop set numbers = #{numbers}
        where productid = #{pid} and customerid = #{customerid}
    </update>
</mapper>