<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProducttypeMapper">

    <select id="selectProducttype" resultType="com.example.entity.Producttype">
        select * from producttype
    </select>

    <select id="selectProducttypeById" parameterType="java.lang.Integer" resultType="com.example.entity.Producttype">
        select * from producttype
        where producttype.id = #{id}
    </select>

    <insert id="insertProducttype" parameterType="com.example.entity.Producttype">
        insert into producttype(id,name)
        values(null,#{name})
    </insert>

    <delete id="deleteProducttypeById" parameterType="java.lang.Integer">
        delete from producttype
        where id = #{id}
    </delete>

    <update id="updateProducttypeById" parameterType="com.example.entity.Producttype">
        update producttype set name=#{name} where id=#{id}
    </update>

    <select id="getProductTypeByPage" resultType="com.example.entity.Producttype">
        select * from producttype
        limit #{pageStart}, #{pageSize}
    </select>

    <select id="selectRowCount" resultType="int">
        select count(1) from producttype
    </select>
</mapper>