<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProducttypeMapper">
    <resultMap id="result_Producttype_Map" type="com.oracle.entity.Producttype">
        <id column="Producttype0" property="id" />
        <result column="Producttype1" property="name" />
    </resultMap>

    <sql id="producttype_Column">
        producttype.id as Producttype0
        ,producttype.name as Producttype1
    </sql>

    <select id="getProducttypeRowCount" resultType="java.lang.Long">
        select count(id) from producttype
    </select>
    <select id="selectProducttype" resultMap="result_Producttype_Map">
        select 
        <include refid="producttype_Column" /> 
        from producttype
    </select> 

    <select id="selectProducttypeById" parameterType="java.lang.Integer" resultMap="result_Producttype_Map">
        select 
            <include refid="producttype_Column" /> 
        from producttype
        where producttype.id = #{id}
    </select> 


    <insert id="insertProducttype" parameterType="com.oracle.entity.Producttype">
        insert into producttype(id,name) 
        values(#{id},#{name})
    </insert>

    <insert id="insertNonEmptyProducttype" parameterType="com.oracle.entity.Producttype">
        insert into producttype
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
        </trim>
    </insert>

    <delete id="deleteProducttypeById" parameterType="java.lang.Integer">
        delete from producttype
        where id = #{id}
    </delete>

    <update id="updateProducttypeById" parameterType="com.oracle.entity.Producttype">
        update producttype set
            name=#{name}
        where id=#{id}
    </update>

    <update id="updateNonEmptyProducttypeById" parameterType="com.oracle.entity.Producttype">
        update producttype
        <set>
            <if test="name != null">
                name=#{name},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>